html,body {
    height: 100vh;
}

body {
    display: flex;
    align-items: center;
    padding-bottom: 40px;
}

.form-signin {
    width: 100vw;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 40px;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.chat-room {
    position: relative;
    height: 100vh;
    width: 80vw;
}

.blue-med {
    color: #0079E5;
}

.top-absolute {
    top: 0;
    position: absolute;
}

.botton-absolute {
    bottom: 20px;
    width: 100vw;
    position: absolute;
}

#messages-container {
    position: relative;
    overflow-y: auto;
    width: 40vw;
    height: 80vh;
}

#message-text {
    text-align: center;
    width: 40vw;
}

.left-text {
    position: absolute;
    left: 0px;
    padding: 3px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 5px;
    color: white;
    background-color: #0079E5;
}