{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Chat App</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href={% static "css/style.css" %}>
  </head>
  <body>
    <main class="container">
      {% block content %}
      {% endblock  %}
    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript">
      const chatSocket = new WebSocket(
        "ws://" + window.location.host + "/ws/chat/{{room_no}}/"
      );

      document.querySelector("#send-btn").onclick = (e) => {
        const message = document.querySelector("#message-text").value.trim();
        if (message) {
          chatSocket.send(JSON.stringify({ message: "{{name}}: " + message }));
          document.querySelector("#message-text").value = "";
        }
      };

      document.querySelector("#message-text").onkeyup = (e) => {
        if (e.keyCode == 13) {
          document.querySelector("#send-btn").click();
        }
      }

      chatSocket.onmessage = (e) => {
        const data = JSON.parse(e.data);
        document.querySelector("#messages-container").innerHTML +=
          "<p><div class='left-text'>" + data.message + "</div></p><br/>";

        // Scroll to bottom
        document.querySelector("#messages-container").scrollTo({
          top: document.querySelector("#messages-container").scrollHeight,
          behaviour: "smooth"
        });
      };
    </script>
  </body>
</html>
